@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*, *::after, *::before {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    /* ### Primary */

    --pink: hsl(322, 100%, 66%);

    /* ### Neutral */

    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);

    /* ### Headings */

    --font-poppins: 'Open Sans', sans-serif;

    /* ### Body, Call-to-actions */

    --font-open-sans: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

/* CONTAINER CLASS */
.container {
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* HEADER */
#header {
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    margin-bottom: 10rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--very-pale-cyan);
    background-image: url(/assets/img/bg-hero-desktop.svg);
}

/* LOGO AND TRY IT FREE BUTTON */
#logo-and-try-it-free {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    width: clamp(13rem, 40vw, 25rem);
}

#logo > img {
    display: block;
    width: 100%;
}

#try-it-free {
    display: block;
    font-weight: bold;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem 1.5rem;
    background-color: white;
    transition-duration: 200ms;
    color: var(--very-dark-cyan);
    width: clamp(13rem, 40vw, 20rem);
    font-family: var(--font-poppins);
    font-size: clamp(1.5rem, 5vw, 2rem);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#try-it-free:hover {
    color: var(--grayish-blue);
}

/* INTRO SECTION */
#intro {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#intro > * {
    flex: 1 1 40rem;
}

#intro-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

#main-title {
    max-width: 55rem;
    font-size: clamp(3.5rem, 5vw, 5rem);
}

#description {
    max-width: 55rem;
    font-size: clamp(1.5rem, 5vw, 2rem);
}

#get-started {
    display: block;
    width: 25rem;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 3rem;
    padding: 1.3rem 1.5rem;
    transition-duration: 200ms;
    background-color: var(--pink);
    font-family: var(--font-poppins);
    font-size: clamp(1rem, 5vw, 1.5rem);
}

#get-started:hover {
    background-color: hsla(322, 100%, 66%, 60%);
}

#hero-img {
    max-width: 60rem;
}

#hero-img > img {
    width: 100%;
}

/* FEATURES SECTIONS */
#feature-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#feature-section article {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.features-title {
    font-size: 4rem;
}

.img-wrapper {
    margin: auto;
    max-width: 40rem;
}

.features-img {
    display: block;
    width: 100%;
}

.features-desc {
    font-size: 2rem;
    max-width: 55rem;
}

#grow-together, #flowing-conversations, #your-users {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 5rem;
    border-radius: 1rem;
    padding: clamp(0px, 2vw, 3.5rem);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

#grow-together > *, #flowing-conversations > *, #your-users > * {
    flex: 1 1 25rem;
}